In [82]:
import pandas as pd
import numpy as np

# Загрузка данных
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(url, na_values=' ?', header = None)

In [83]:
# просматриваем набор данных
print(" Shape:", df.shape)
print("\n Info:")
df.info()

print("\n First rows:")
display(df.head())

 Shape: (32561, 15)

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       30725 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       30718 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      31978 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

 First rows:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [84]:
## устанавливаем название для столбцов
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
                'marital_status', 'occupation', 'relationship', 'race', 'sex',
                'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
df.columns = column_names

# просматриваем набор данных
print(" Shape:", df.shape)
print("\n Info:")
df.info()

print("\n First rows:")
print(df.head())

 Shape: (32561, 15)

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

 First rows:
   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [85]:
# доступ к столбцам
print(df['age'])
print(df[['age', 'education']])
print(df.iloc[0:5, 0:3])
print(df['sex'] == 'male')

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64
       age    education
0       39    Bachelors
1       50    Bachelors
2       38      HS-grad
3       53         11th
4       28    Bachelors
...    ...          ...
32556   27   Assoc-acdm
32557   40      HS-grad
32558   58      HS-grad
32559   22      HS-grad
32560   52      HS-grad

[32561 rows x 2 columns]
   age          workclass  fnlwgt
0   39          State-gov   77516
1   50   Self-emp-not-inc   83311
2   38            Private  215646
3   53            Private  234721
4   28            Private  338409
0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: sex, Length: 32561, dtype: bool

In [86]:
male = df[df['sex'] == ' Male'][['age', 'education']]
display(male)

       age      education
0       39      Bachelors
1       50      Bachelors
2       38        HS-grad
3       53           11th
7       52        HS-grad
...    ...            ...
32553   32        Masters
32554   53        Masters
32555   22   Some-college
32557   40        HS-grad
32559   22        HS-grad

[21790 rows x 2 columns]

In [87]:
print(df.describe())

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [88]:
# 7 Розрахуйте середні значення кількісних ознак в класах
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
class_mean = df.groupby('income')[numeric_columns].mean()
print(class_mean)

              age        fnlwgt  education_num  capital_gain  capital_loss  \
income
<=50K   36.783738  190340.86517       9.595065    148.752468     53.142921
>50K    44.249841  188005.00000      11.611657   4006.142456    195.001530

        hours_per_week
income
<=50K        38.840210
>50K         45.473026

In [89]:
## 8-9 статистикa
for column in ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']:
    print(df[column].value_counts())

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64
marital_status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
sex
Male      21790
Female    10771
Name: count, dtype: int64
native_country
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [90]:
## 10-11
import pandas as pd

# Загрузим данные
df.columns

# Найдем пустые значения
print("Пустые значения до замены:")
print(df.isna().sum())

# Замена пропущенных значений на средние для числовых столбцов
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_columns] = df[numeric_columns].apply(lambda x: x.fillna(x.mean()))

# Замена пропущенных значений на моду для категориальных столбцов
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

# Проверка, что пропущенные значения заменены
print("Пустые значения после замены:")
print(df.isna().sum())

Пустые значения до замены:
age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64
Пустые значения после замены:
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [91]:
## 12
from sklearn.preprocessing import LabelEncoder

df = pd.get_dummies(df, columns=['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country'], drop_first=True)
label_encoder = LabelEncoder()
df['income'] = label_encoder.fit_transform(df['income'])
print(df[['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']])

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]

In [92]:
## 13
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']] = scaler.fit_transform(df[['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']])
print(df[['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']])

            age    fnlwgt  education_num  capital_gain  capital_loss  \
0      0.301370  0.044302       0.800000      0.021740           0.0
1      0.452055  0.048238       0.800000      0.000000           0.0
2      0.287671  0.138113       0.533333      0.000000           0.0
3      0.493151  0.151068       0.400000      0.000000           0.0
4      0.150685  0.221488       0.800000      0.000000           0.0
...         ...       ...            ...           ...           ...
32556  0.136986  0.166404       0.733333      0.000000           0.0
32557  0.315068  0.096500       0.533333      0.000000           0.0
32558  0.561644  0.094827       0.533333      0.000000           0.0
32559  0.068493  0.128499       0.533333      0.000000           0.0
32560  0.479452  0.187203       0.533333      0.150242           0.0

       hours_per_week
0            0.397959
1            0.122449
2            0.397959
3            0.397959
4            0.397959
...               ...
32556        0.377551
32557        0.397959
32558        0.397959
32559        0.193878
32560        0.397959

[32561 rows x 6 columns]

In [95]:
display(df.head())

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,income,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,0.301370,0.044302,0.02174,0.0,0.397959,0,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,0.452055,0.048238,0.00000,0.0,0.122449,0,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,0.287671,0.138113,0.00000,0.0,0.397959,0,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
3,0.493151,0.151068,0.00000,0.0,0.397959,0,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
4,0.150685,0.221488,0.00000,0.0,0.397959,0,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [94]:
## 14
df.drop(columns=['education_num'], inplace=True)
print(df.describe())

                age        fnlwgt  capital_gain  capital_loss  hours_per_week  \
count  32561.000000  32561.000000  32561.000000  32561.000000    32561.000000
mean       0.295639      0.120545      0.010777      0.020042        0.402423
std        0.186855      0.071685      0.073854      0.092507        0.125994
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%        0.150685      0.071679      0.000000      0.000000        0.397959
50%        0.273973      0.112788      0.000000      0.000000        0.397959
75%        0.424658      0.152651      0.000000      0.000000        0.448980
max        1.000000      1.000000      1.000000      1.000000        1.000000

             income
count  32561.000000
mean       0.240810
std        0.427581
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000